@model IEnumerable<ProductDto>
@{
}

<br/>
<div class="container p-4 border">
    <div class="row pb-2">
        <div class="col">
            <h1 class="text-primary"> Products List</h1>
        </div>
    </div>
    <div class="col text-end pt-1">
        <a asp-action="ProductCreate" class="btn btn-outline-primary">
            <i class="fas fa-plus"></i> Create New Product
        </a>
    </div>
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Category Name</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var item in Model)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.CategoryName</td>
                        <td>@item.Price.ToString()</td>
                        <td>
                            <a asp-action="EditProduct" class="btn btn-primary" asp-route-productId="@item.ProductId">
                                <i class="fa fa-edit"></i>
                            </a>
                        </td>
                        <td>
                            <form method="post"    asp-action="DeleteProduct" class="btn btn-danger"  asp-route-productId="@item.ProductId">
                                <button type="submit" class="fa fa-trash-o"></button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
